<section class="w3l-contact-1">
    <div class="contacts-9 section-gap">
      <div class="wrapper">
        <h4 class="sub-title text-center"></h4>
        <h3 class="global-title text-center">Bizimle İletişim Geçin</h3>
        <div class="d-grid contact-view">
          <div class="cont-details">
            <div class="cont-top">
              <div class="cont-left text-center">
                <span class="fa fa-phone text-primary"></span>
              </div>
              <div class="cont-right">
                <h6>TELEFON :</h6>
                <p><a href="tel:+44 99 555 42">+90 505 229 09 03</a></p>
              </div>
            </div> 
            <div class="cont-top margin-up">
              <div class="cont-left text-center">
                <span class="fa fa-envelope-o text-primary"></span>
              </div>
              <div class="cont-right">
                <h6>EMAIL :</h6>
                <p><a href="mailto:example@mail.com" class="mail">info.icontrends@gmail.com</a></p>
              </div>
            </div>
          </div>
          <div class="map-content-9">
            <form [formGroup]="contactAddForm">
              <div class="twice-two">
                <input type="text" class="form-control" formControlName="nameSurname" id="nameSurname" placeholder="Ad-Soyad" required="">
                <input type="email" class="form-control" formControlName="email" id="email" placeholder="E-posta"
                  required="">
              </div>
              <!-- <div class="twice">
                <input type="text" class="form-control" name="w3lSubject" id="w3lSubject" placeholder="Subject"
                  required="">
              </div> -->
              <textarea formControlName="message" class="form-control" id="message" placeholder="Mesajınzı..."
                required=""></textarea>
              <button (click)="add()" type="submit" class="btn btn-contact">Mesaj Gönder</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>