<div id="maincard" class="card">
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <h5>Düzenleme Kurulu Ekle</h5>
        </div>
    </div>
    <div class="card-body">
        <form  [formGroup]="regulatoryBoardAddForm">
            <div  class="align-items-center">
                <div  class="form-group">
                    <div class="mb-2 fw-bold"><Label>Kongre Seçin :</Label></div>
                    <input type="text"  formControlName="congressId" class="form-control"
                        placeholder="Kongre  Adı" />
                </div><br>
                <div  class="form-group">
                    <div class="mb-2 fw-bold"><Label>Üye Adları :</Label></div>
                    <input type="text"  formControlName="regulatoryBoardMemberName" class="form-control"
                        placeholder="Üye Adlarını Yazın" />
                </div><br>
                <div class="form-group">
                    <div class="mb-2 fw-bold"><Label>Üye Kurumları :</Label></div>
                    <input type="text"  formControlName="univercity" class="form-control"
                        placeholder="Üye üniversiteleri" />
                </div>
            </div>
        </form>
        
        <div class="row mt-3">
            <div class="d-flex justify-content-end">
                <button (click)="add()" type="button" class="btn btn-success me-2">Ekle</button>
                <button (click)="closeRegulatoryBoardAddModal()" type="button" class="btn btn-danger">İptal</button>
            </div>
        </div>
    </div>
</div>