<div *ngIf="topicDataLoaded == false" class="spinner-border text-success" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<div style="margin-top: 70px;">
  <table id="table" class="table">
    <thead id="thead">
      <tr id="tr">
        <th id="th">ID</th>
        <th id="th">Kongre ID</th>
        <th id="th">Ana Konu</th>
        <th id="th">Alt Konular</th>
    </thead>
    <tbody id="tbody">
      <tr *ngFor="let topic of topic">
        <td id="td">{{topic.id}}</td>
        <td id="td">{{topic.congressId}}</td>
        <td id="td">{{topic.topicName}}</td>
        <td id="td">{{topic.category}}</td>
      </tr>
    </tbody>
  </table>
</div>