<div style="overflow-y: auto;" *ngIf="currentPresident && congressPresidentUpdateForm">
    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <p class="text-center"><h5>Kongre Başkanını Güncelle --> {{currentPresident.congressPresidentName}}</h5><p>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="row align-items-center">
                        <div class="col-md-4">
                            <strong>ID:</strong>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control text-center" [placeholder]="currentPresident.id" disabled />
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row align-items-center">
                        <div class="col-md-4">
                            <strong class="float-end mb-3"><label for="congressPresidentName">Başkan Adı:</label></strong>
                            <strong class="float-end"><label for="congressId">Kongre Seçin:</label></strong>
                        </div>
                        <div class="col-md-8">
                            <form [formGroup]="congressPresidentUpdateForm">
                                <div class="align-items-center">
                                    <div class="form-group mb-3">
                                        
                                        <input type="text"  formControlName="congressPresidentName" class="form-control"
                                            placeholder="Kongre Başkan Adı" />
                                    </div>
                                    <div class="form-group">
                                        <input type="text"  formControlName="congressId" class="form-control"
                                            placeholder="Kongre Adı Yazın" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="card-footer mt-1">
            <div class="d-flex justify-content-end">
                <button (click)="update()" type="button" class="btn btn-success me-3">Güncelle</button>
                <button (click)="closeUpdateModal()" type="button" class="btn btn-danger">İptal</button>
            </div>
        </div>
    </div>
</div>