<div class="container-fluid bg-dark">
  <div style="color: white;" class="row text-center p-5">
    <div class="col" style="border-right: 2px solid  rgb(76, 243, 246);">
        <div id="abput">
           <a href="#" style="text-decoration: none;color:white;"> <h4 id="footerTitle">AnaSayfa</h4></a>
        </div>
    </div>
    <div class="col"  style="border-right: 2px solid  rgb(76, 243, 246);" >
        <div id="abput">
            <h4 id="footerTitle">Biz Kimiz?</h4>
            <p>İcon-Trends YSU kapsamında düzenlenen kongreleri bu web sitesinde duyurulur , kongreye katılım şartalrı , kongre yeri ve zamanı bu web sitesi üzerinden duyurulmaktadır.</p>
        </div>
    </div>
    <div class="col">
        <div id="abput">
            <h4 id="footerTitle">Hizmetlerimiz</h4>
        </div>
    </div>
    <span>&copy; Tüm Hakları Saklıdır - 2022</span>
  </div>
</div>