<div *ngIf="congressDataLoad == false" class="spinner-border text-success" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>

  <h3 style="margin-top: 70px;background-color:indianred;" class="text-center ">KONGRELER</h3>


  <table *ngIf="congressDataLoad == true"  style="border-radius:10px;" class="table table-hover bg-dark text-white text-center">
    <thead  style="font-weight: bolder;text-decoration:underline;">
        <tr>
            <th>ID</th>
            <th scope="">kongre başkanı</th>
            <th scope="">kongre adı</th>
            <th scope="">kongre hakkında</th>
            <th scope="">kongre şehri</th>
            <th scope="">kongre yeri</th>
            <th scope="">kongre tarihi</th> 
            <th><button (click)="showCongressAddModal()" type="button" class="btn btn-outline-success" >kongre Ekle</button></th>  
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let congress of congresses">
            <td>{{congress.congressId}}</td>
            <td>{{congress.congressPresidentId}}</td>
            <td>{{congress.congressName}}</td>
            <td>{{congress.congressAbout.substring(0,20)}}</td>
            <td>{{congress.congressCity}}</td>
            <td>{{congress.congressPlace}}</td>
            <td>{{congress.congressDate.toString().substring(0,10)}} -{{congress.congressDate.toString().substring(11,16)}} </td>
           
           <!-- <td ><img width="100%" height="50px" class="rounded-3"  [src]="getImagePath(congress.congressImages[0].imagePath)" ></td> -->
           <td><button class="btn btn-sm btn-outline-warning">Düzenle</button> | <button (click)="showCongressDeleteModal(congress)" type="button" class="btn btn-sm btn-outline-danger">Sil</button></td>
        </tr>
    </tbody>
   
  </table>
 
