

<div style="margin-top: 70px;" class="container-fluid">
    <div class="container bg-warning">
       <p> <h3 class="text-center">-Bildiri Yazım Kuralları-</h3><p>
    </div>
    <div class="container text-white" *ngFor="let general of generalInfo" >
        <div id="editor"><angular-editor [config]="editorConfig" [ngModel]="general.summaryContent"></angular-editor></div>
    </div>
  
    <div class="container text-white" *ngFor="let general of generalInfo" >
        <h3>kurallar :</h3>   
        <div id="editor"><angular-editor [config]="editorConfig" [ngModel]="general.rules"></angular-editor></div>
    </div>

    <div class="container text-white" *ngFor="let general of generalInfo" >
        <h3>Bildiri Değerlendirmesi :</h3>   
        <div id="editor"><angular-editor [config]="editorConfig" [ngModel]="general.paperEvaluation"></angular-editor></div>
    </div>
</div>