<div *ngIf="announceDataLoad == false" class="spinner-border text-success" role="status">
    <span class="visually-hidden">Loading...</span>
</div>

<!-- <table style="margin-top: 70px;" id="announce"  *ngIf="announceDataLoad == true" class="table table-hover">
    <thead>
        <tr>
            <th>ıd</th>
            <th>başlık</th>
            <th>içerik</th>
            <th>durumu</th>
            <th>tarih</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let announcement of announcements">
            <td>{{announcement.id}}</td>
            <td>{{announcement.announceTitle}}</td>
            <td>{{announcement.announceContent.substring(0,50)}}...</td>
            <td *ngIf="announcement.announceStatus==true">Güncel Duyurular</td>
            <td *ngIf="announcement.announceStatus==false">Geçmiş Duyurular</td>
            <td>{{announcement.announceDate.toString().substring(0,10)}}</td>
        </tr>
    </tbody>
  </table> -->


<!-- <div style="margin-top: 70px;" class="container">
    <h3 class="text-white">Güncel Duyurular</h3>
    <div  class="row" >
        <div class="col-12" *ngFor="let announcement of announcements.reverse()">
            <div style="border-radius: 5px;"  class="card  w-100 mb-2" >
                <div style="border-radius: 5px;" class="card-body bg-dark text-white">
                  <h5 class="card-title">{{announcement.announceTitle}}</h5>
                  <p class="card-text">{{announcement.announceContent}}</p>
                  <a href="#" routerLink="/announce-detail/{{announcement.id}}" class="btn btn-primary">Devamını Oku</a>
                </div>
              </div>
        </div>
    </div>
</div> -->


<div class="container card mb-3"  style="margin-top: 70px;" *ngFor="let announcement of announcements.reverse()">
    <div class="row g-0">
      
      <div class="col-md-8" >
        <div class="card-body">
          <h5 class="card-title">{{announcement.announceTitle}}</h5>
          <p class="card-text">{{announcement.announceContent}}</p>
          <p class="card-text"><small class="text-muted">{{announcement.announceDate.toString().substring(0,10)}}</small></p>
        </div>
      </div>
      <div class="col-md-4 rounded-3" >
        
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-inner">
          
            <div *ngFor="let announce of announcements; let i = index"
            class="{{(i == 0) ? 'carousel-item active' : 'carousel-item' }} text-center rounded-3">
            <img [src]="getImage(announce)" height="450" alt="..." class="rounded-3" style="object-fit: cover;">
          </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

      </div>
    </div>
  </div>

  
