#announceTitle{
   
   font-weight: bolder;
   font-size: 16px;
   text-align: center;
    background-color:rgb(196, 196, 196);
    padding: 5px;
    border-radius: 5px;

}

#announceContent{
    margin-top: 10px;
    padding-top: 10px;
    background-color: gainsboro;
    text-align: center;
    font-size: 16px;
}

#announceDate{
    background-color: rgb(23, 23, 68);
    color: white;
    font-size: 16px;
    text-align: center;
    padding: 5px;
}

#announceArea{
    border: 1px solid ;
    border-bottom: none;
   background-color:whitesmoke;
   padding: 5px;
   margin: 5px;
  
 
}

