
<div *ngIf="announcementDataLoad == false" class="spinner-border text-success" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
<!-- <table *ngIf="announcementDataLoad==true" class="table table-hover">
    <thead>

        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Content</th>
            <th>Date</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let announce of announcement ">
            <td>{{announce.id}}</td>
            <td>{{announce.announceTitle}}</td>
            <td>{{announce.announceContent}}</td>
            <td>{{announce.announceDate.toString().substring(0,10)}}</td>
            <td>{{announce.announceStatus}}</td>
        </tr>
    </tbody>
</table> -->

<div class="coniner-fluid" style="margin-top: 70px;">
    <div class="row">
    <div class="col-3">
        <h5 id="">DUYURULAR</h5>
        <div  id="announceArea"  *ngFor="let announce of announcement ">
            <span id="announceDate">{{announce.announceDate.toString().substring(0,10)}}</span> - 
            <span id="announceTitle"> {{announce.announceTitle}}</span>
            <p id="announceContent">{{announce.announceContent.substring(0,70)}}</p>    
            <hr> 
        </div>
        
    
    </div>
    <div  class="col-9">
    
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner rounded-3">
          <div class="carousel-item active">
            <img width="100%" height="550px%" src="https://i.hizliresim.com/1iqzgza.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img width="100%" height="550px%" src="https://i.hizliresim.com/1iqzgza.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img width="100%" height="550px%" src="https://i.hizliresim.com/1iqzgza.png" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>
    </div>
    </div>