
<div *ngIf="announcementDataLoad == false" class="spinner-border text-success" role="status">
  <span class="visually-hidden">Loading...</span>
</div>


<div id="PageTop"   class="coniner-fluid" >
  <div class="row" style="padding:5px;border-radius:15px;">
  <div class="col-3">

      
      <div class="list-group text-center mt-4" style="padding:5px;border-radius:5px;" >
       
        <button routerLink="" class="btn  btn-outline-primary">Genel Bilgiler</button>
        <button routerLink="announcement/seeallannounce" class="btn  btn-outline-primary mt-2">Duyurular</button>
        <button routerLink="/transportlayover" class="btn  btn-outline-primary mt-2">Seyahat ve Konaklama</button>
        <button routerLink="/save" class="btn btn-outline-primary mt-2">Kayıt</button>
        <a href="#pastCongress" class="btn  btn-outline-primary mt-2">Geçmiş Kongreler</a>
        <button routerLink="/topic"  class="btn  btn-outline-primary mt-2">Ana Konular</button>
        <button routerLink="/contact" class="btn btn-outline-primary mt-2">İletişim</button>
       
      </div>

  </div>
  <div  class="col-9 " >
 
    <div  id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div     class="carousel-inner ">
        <div *ngFor="let announce of announcements; let i = index"
        class="{{(i == 0) ? 'carousel-item active' : 'carousel-item' }} text-center">
        <img [src]="getImage(announce)" height="400" alt="..." style="object-fit: cover;">
      </div>
     
       </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  
  </div>
  </div>