<div *ngIf="congressDataLoaded == false" class="spinner-border text-success" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>

<app-announcement></app-announcement>

<div  class="container-fluid" id="baslik">Geçmiş Kongrelerimiz...</div>
<div *ngIf="congressDataLoaded==true" class="container-fluid" style="margin-top: 20px;">
 <div id="pastCongress" class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
  <div class="col"  *ngFor="let congress of congress ">
    <div class="card">
      <figure class="card__thumb">
        <img src="https://source.unsplash.com/75S9fpDJVdo/300x510" alt="Picture by Kyle Cottrell" class="card__image">
        <figcaption class="card__caption">
          <h2 class="card__title">{{ congress.congressName }} aaaa aaaa aaaa</h2>
          <p class="card__snippet">{{ congress.congressAbout.substring(0,100) }}...</p>
          <a href="" class="card__button" routerLink="/congress-details/{{congress.congressId}}">Kongre Detayı</a>
        </figcaption>
      </figure>
    </div>
  </div>
  </div>
</div>


<!-- <br><br><br>
<app-topic></app-topic>
<br><br><br>
<app-regulatory-board></app-regulatory-board>

<br><br><br>
<div *ngIf="scienceBoardDataLoaded == false" class="spinner-border text-success" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<table *ngIf="scienceBoardDataLoaded==true" class="table table-hover" style="margin-top: 100px;">
  <thead>
    <tr>
      <th>Id</th>
      <th>CongressId</th>
      <th>Member Name</th>
      <th>Univercity</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let science of scienceBoard ">
      <td>{{ science.id }}</td>
      <td>{{ science.congressId }}</td>
      <td>{{ science.scienceBoardMemberName }}</td>
      <td>{{ science.univercity }}</td>
   
    </tr>
  </tbody>
</table> -->
