<div *ngIf="congressDataLoaded == false" class="spinner-border text-success" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>

<app-announcement></app-announcement>

<!-- <div  class="container-fluid" id="baslik">Geçmiş Kongrelerimiz...</div>
<div *ngIf="congressDataLoaded==true" class="container-fluid" style="margin-top: 20px;">
 <div id="pastCongress" class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
  <div class="col"  *ngFor="let congress of congress ">
    <div class="card">
      <figure class="card__thumb">
        <img src="https://source.unsplash.com/75S9fpDJVdo/300x510" alt="Picture by Kyle Cottrell" class="card__image">
        <figcaption class="card__caption">
          <h2 class="card__title">{{ congress.congressName }}</h2>
          <p class="card__snippet">{{ congress.congressAbout.substring(0,100) }}...</p>
          <a href="" class="card__button" routerLink="/congress-details/{{congress.congressId}}">Kongre Detayı</a>
        </figcaption>
      </figure>
    </div>
  </div>
  </div>
</div> -->


<section style="background-color: whitesmoke;" *ngIf="congressDataLoaded==true" class="cards-wrapper">
  <div *ngFor="let congress of kongres " class="card-grid-space">
    <a class="card" href="" routerLink="/congress-details/{{congress.kongreId}}" style="--bg-img: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/basic-types-of-html-tags/cover.jpg')">
      <div>
        <h1>{{congress.kongreAdi}}</h1>
        <p>{{congress.kongreHakkinda.substring(0,100)}}</p>
        <div class="date">{{congress.kongreTarihi.toString().substring(0,10)}}</div>
        <div class="tags">
          <div class="tag">İncele</div>
        </div>
      </div>
    </a>
  </div> 
</section>