<app-navi></app-navi>
<div class="container-fluid">
    <div class="row">
        <div class="col-2" style="border: 1px solid red;">
                <pre>
                    yan 
                    menü 
                    gelecek

                </pre>
        </div>
        <div class="col-10" style="border: 1px solid black;">
            <pre>
                buraya
                içerikler
                gelecek
                belki 
                en üst 
                kısımıa
                bir slider
                ekleye 
                bilirim
            </pre>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

