<div style="overflow-y: auto;" id="maincard" class="card">
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <h5>Kongre Başkanı Ekle</h5>
        </div>
    </div>
    <div class="card-body">
        <form [formGroup]="congressPresidentAddForm">
            <div class="align-items-center">
                <div class="form-group">
                    <div class="mb-2 fw-bold"><Label>Kongre Başanı Adı :</Label></div>
                    <input type="text"  formControlName="congressPresidentName" class="form-control"
                        placeholder="Kongre Başkan Adı" />
                </div><br>
                <div class="form-group">
                    <div class="mb-2 fw-bold"><Label>Kongre Seçiniz :</Label></div>
                    <input type="text"  formControlName="congressId" class="form-control"
                        placeholder="Kongre Adı Yazın" />
                </div>
            </div>
        </form>
        
        <div class="row mt-3">
            <div class="d-flex justify-content-end">
                <button (click)="add()" type="button" class="btn btn-success me-2">Ekle</button>
                <button (click)="closeCongressPresidentAddModal()" type="button" class="btn btn-danger">İptal</button>
            </div>
        </div>
    </div>
</div>