<div style="overflow-y: auto;" class="card" >
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <h5>Duyuru Güncelle --> {{currentAnnounce.announceTitle}}</h5>
        </div>
    </div>
    <div class="card-body">
        <form [formGroup]="announceUpdateForm">
            <div class="align-items-center">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div *ngIf="announceImages.length>0" class="row">
                                    <div id="AddAnnounceImagesCarousel" class="carousel carousel-dark slide"
                                        data-bs-ride="carousel">
                                        <div class="carousel-indicators">
                                            <button *ngFor="let announceImage of announceImages; let i = index" type="button"
                                                data-bs-target="#AddAnnounceImagesCarousel" attr.data-bs-slide-to="{{i}}"
                                                class="{{(i == 0) ? 'active' : ''}}"
                                                attr.aria-label="Slide {{i}}"></button>
                                        </div>
                                        <div class="carousel-inner">
                                            <div *ngFor="let announceImage of announceImages; let i = index"
                                                class="{{(i == 0) ? 'carousel-item active' : 'carousel-item' }}">
                                                <img [src]="getImagePath(announceImage.imagePath)" height="100%" width="100%"
                                                    alt="image not found">
                                            </div>
                                        </div>
                                        <div *ngIf="announceImages.length>1">
                                            <button class="carousel-control-prev" type="button"
                                                data-bs-target="#AddAnnounceImagesCarousel" data-bs-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Previous</span>
                                            </button>
                                            <button class="carousel-control-next" type="button"
                                                data-bs-target="#AddAnnounceImagesCarousel" data-bs-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Next</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="announceImages.length===0">
                                    <img src="" height="200" alt="image not found">
                                </div>
                                <div class="row mt-2 ms-2">
                                    <input #file class="form-control" type="file" id="announceImagesFiles" accept="image/*"
                                        (change)="addAnnounceImagesToUploadAndPathList(file.files)">
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-5">
                                <div *ngIf="announceImages.length>0 || uploadImagesPaths.length > 0" class="row">
                                    <ul class="list-group">
                                        <li *ngFor="let announceImage of announceImages" class="list-group-item">
                                            <div class="d-flex justify-content-between">
                                                <img [src]="getImagePath(announceImage.imagePath)" height="30"
                                                    alt="image not found">
                                                <span>
                                                    <svg (click)="deleteImageFromAnnounceImages(announceImage)"
                                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                        fill="red" class="bi bi-x-square-fill" viewBox="0 0 16 16">
                                                        <path
                                                            d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z" />
                                                    </svg>
                                                </span>
                                            </div>
                                        </li>
                                        <li *ngFor="let uploadImage of uploadImagesPaths"
                                            class="list-group-item text-light"
                                            style="background-color: rgb(100, 197, 113);">
                                            <div class="d-flex justify-content-between">
                                                <img [src]="uploadImage" height="30" alt="image not found">
                                                <span>
                                                    <svg (click)="deleteImageFromUploadFiles(uploadImage)"
                                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                        fill="red" class="bi bi-x-square-fill" viewBox="0 0 16 16">
                                                        <path
                                                            d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z" />
                                                    </svg>
                                                </span>
                                            </div>

                                        </li>
                                    </ul>
                                    <p class="text-center text-muted">
                                        <small>{{announceImages.length + uploadImagesPaths.length}}/5 resim</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <div class="form-group row align-items-center">
                                        <div class="col-md-3 text-center">
                                            <label for="announceTitle">Duyuru Başlığı:</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" id="announceTitle" formControlName="announceTitle"
                                                class="form-control" [placeholder]="currentAnnounce.announceTitle" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row align-items-center">
                                        <div class="col-md-4">
                                            <label for="announceDate" class="text-nowrap">Duyuru Tarihi:</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="datetime-local" id="announceDate" formControlName="announceDate"
                                                class="form-control float-end" [placeholder]="currentAnnounce.announceDate" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="margin-left: 20px;" class="row mt-3 align-items-end">
                                <div class="form-group row align-items-center">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked formControlName="announceStatus">
                                        <label class="form-check-label" for="flexSwitchCheckChecked">Durum --> Aktif / Pasif</label>
                                      </div>
                                </div>
                            </div>
                            <div class="row mt-3 align-items-end">
                                <div class="form-group row align-items-center">
                                    <div class="col-md-2">
                                        <label for="announceContent">Açıklama:</label>
                                    </div>
                                    <div class="col-md-10">
                                        <!-- <input type="text" id="announceContent" formControlName="announceContent"
                                            class="form-control" [placeholder]="currentAnnounce.announceContent" /> -->
                                            <angular-editor [placeholder]="currentAnnounce.announceContent" formControlName="announceContent"  ></angular-editor>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row mt-3">
            <div class="d-flex justify-content-end">
                <button (click)="update()" type="button" class="btn btn-success me-2">Güncelle</button>
                <button (click)="closeAnnounceUpdateModal()" type="button" class="btn btn-danger">İptal</button>
            </div>
        </div>
    </div>
</div>