<div *ngIf="currentRegulatoryBoard && regulatoryBoardUpdateForm">
    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <p class="text-center"><h5>Düzenleme Kurulu Güncelle --> {{currentRegulatoryBoard.regulatoryBoardMemberName}}</h5><p>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="row align-items-center">
                        <div class="col-md-4">
                            <strong>ID:</strong>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control text-center" [placeholder]="currentRegulatoryBoard.id" disabled />
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row align-items-center">
                        <div class="col-md-4">
                            <strong class="float-end mb-3"><label for="congressId">Kongre Seç:</label></strong>
                            <strong class="float-end  mb-4"><label for="regulatoryBoardMemberName">Üye Adları:</label></strong>
                            <strong class="float-end"><label for="univercity">Üye Kurumları:</label></strong>
                        </div>
                        <div class="col-md-8">
                            <form [formGroup]="regulatoryBoardUpdateForm">
                                <div class="align-items-center">
                                    <div class="form-group mb-3">
                                        <input type="text"  formControlName="congressId" class="form-control"
                                            placeholder="Kongre  Adı" />
                                    </div>
                                    <div class="form-group  mb-3">
                                        <input type="text"  formControlName="regulatoryBoardMemberName" class="form-control"
                                            placeholder="Üye Adlarını Yazın" />
                                    </div>
                                    <div class="form-group">
                                        <input type="text"  formControlName="univercity" class="form-control"
                                            placeholder="Üye üniversiteleri" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="card-footer mt-1">
            <div class="d-flex justify-content-end">
                <button (click)="update()" type="button" class="btn btn-success me-3">Güncelle</button>
                <button (click)="closeUpdateModal()" type="button" class="btn btn-danger">İptal</button>
            </div>
        </div>
    </div>
</div>