<div style="overflow-y: auto;" *ngIf="currentSave && saveUpdateForm"  class="card">
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <h5>Kayıt bilgisini Güncelle</h5>
         </div>
    </div>
    <div class="card-body">
        <form [formGroup]="saveUpdateForm">
            <div class="align-items-center">
                <div class="card">
                    <div class="card-body">
                     
                        <div class="row">

                            <div class="col-3">
                                <b>Vid.YSU Üye Fiyatı</b>
                                <input class="form-control form-control-sm"   type="text" [placeholder]="currentSave.videoConferenceMemberPrice" formControlName="videoConferenceMemberPrice">         
                            </div>

                            <div class="col-3">
                                <b>Vid.YSU Üye Olmayan Fiyatı</b>
                                <input class="form-control form-control-sm"  type="text" [placeholder]="currentSave.videoConferenceNonMemberPrice" formControlName="videoConferenceNonMemberPrice">
                               </div>
                        
                                 <div class=" col-3">
                                      <b>sözlü.YSU Üye Fiyatı</b>
                                    <input class="form-control form-control-sm"  type="text" [placeholder]="currentSave.oralPresentationMemberPrice" formControlName="oralPresentationMemberPrice">
                                 </div>
                        
                                
                        
                                 <div class=" col-3">
                                    <b>sözlü.YSU Üye Fiyatı</b>
                                    <input class="form-control form-control-sm"  type="text" [placeholder]="currentSave.oralPresentationNonMemberPrice" formControlName="oralPresentationNonMemberPrice" >
                                 </div>
                                
                        
                                 <div class="mt-3">
                                    <b>Vid. konf. Açıklama</b>
                                <textarea class="form-control form-control-sm"  [placeholder]="currentSave.videoConferenceDescription"  row="30" cols="150" formControlName="videoConferenceDescription"></textarea>
                                 </div>
                        
                                <div class="mt-3">
                                    <b>Kayıt ek olarak hizmetler</b>
                                    <!-- <textarea class="form-control form-control-sm"  [placeholder]="currentSave.participationPriceServiceAdditionDescription"  row="30" cols="150" formControlName="participationPriceServiceAdditionDescription"></textarea> -->
                                    <angular-editor id="editor2"  [placeholder]="currentSave.participationPriceServiceAdditionDescription" formControlName="participationPriceServiceAdditionDescription"  ></angular-editor>
                                </div>
                        
                                <div class="mt-3">
                                    <b>Açıklama</b><br>
                                <!-- <textarea class="form-control form-control-sm"   [placeholder]="currentSave.description"  row="30" cols="140" formControlName="description"></textarea> -->
                                <angular-editor id="editor2"  [placeholder]="currentSave.description" formControlName="description"  ></angular-editor>
                                </div>

                        </div>
                 
                    </div>
                </div>
            </div>
        </form>
        <div class="row mt-3">
            <div class="d-flex justify-content-end">
                <button (click)="update()" type="button" class="btn btn-success me-2">Güncelle</button>
                <button (click)="closeUpdateModal()" type="button" class="btn btn-danger">İptal</button>
            </div>
        </div>
    </div>
</div>