<table style="margin-top: 70px;" class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>başkan adı</th>
            <th>kongre hakkında</th>
            <th>kongre yeri</th>
            <th>kongre tarihi</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf=" currentCongress">
            <td>{{currentCongress.congressId}}</td>
            <td>{{currentCongress.congressName}}</td>
            <td>{{currentCongress.congressPresidentName}}</td>
            <td>{{currentCongress.congressAbout.substring(0,50)}}</td>
            <td>{{currentCongress.congressPlace}}</td>
            <td>{{currentCongress.congressDate}}</td>

        </tr>
    </tbody>
</table>
<!-- 

      congressId:number;
    congressName:string;
    congressPresidentId:number;
    congressAbout:string;
    congressCity:string;
    congressPlace:string;
    congressDate:Date;
    congressImages:CongressImage[];
 -->