<div *ngIf="DataLoadded == false" class="spinner-border text-success" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>


<div *ngIf="DataLoadded==true" id="myCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="1800">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
      
        <img width="100%"height="450px" class="rounded-3"  [src]="getImagePath(currentCongress.kongreImages[0].imagePath)" >
        <div class="container rounded-3">
          <div class="carousel-caption text-start">
            <h1>{{currentCongress.kongreAdi}}</h1>
            <p><a class="btn btn-lg btn-primary">Daha Fazla</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img width="100%" height="450px" class="rounded-3"  [src]="getImagePath(currentCongress.kongreImages[0].imagePath)" >

        <div class="container rounded-3">
          <div class="carousel-caption">
            <h1>{{currentCongress.kongreAdi}}</h1>
            <p><a class="btn btn-lg btn-primary">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img width="100%" height="450px" class="rounded-3"  [src]="getImagePath(currentCongress.kongreImages[0].imagePath)" >

        <div class="container rounded-3" >
          <div class="carousel-caption text-end">
            <h1>{{currentCongress.kongreAdi}}</h1>
            <p><a class="btn btn-lg btn-primary" >Browse gallery</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev " type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden ">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <br>

  <div  class="container-fluid" *ngIf=" currentCongress">
    <div id="contentCongress">
        <p ><h4 id="congressTitle">Kongre Adı-{{currentCongress.kongreAdi}}</h4><p>
        <div>
            {{currentCongress.kongreHakkinda}}
        </div>
    </div>
    
    <div id="informations">
      <p ><h4 id="congressTitle">Konger Başkanı - {{currentCongress.kongreBaskani}}</h4><p>
     
      <p ><h4 id="congressTitle">Düzenleme Kurulu</h4><p>
       <table class="table table-hover">
          <thead>
              <tr>
                  <th>Üye Adı</th>
              </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{currentCongress.kongreDuzenlemeKurulu}}</td>
            </tr>
          </tbody>
      </table> 
  
        <p><h4 id="congressTitle">Bilim Kurulu</h4> <p>
       <table class="table table-hover ">
          <thead>
              <tr>
                  <th class="text-center">Üye Adı</th>
              </tr>
          </thead>
          <tbody >
            <tr>
              <td>{{currentCongress.bilimKurulu}}</td>
            </tr>
          </tbody>
      </table>
    </div>
   


    <p><h4 id="congressTitle">Kongre Yeri Ve Zamanı</h4> <p></p>
    <div id="address">{{currentCongress.kongreTarihi.toString().substring(0,10)}}  ||  {{currentCongress.kongreAdresi}} ||  Saat {{currentCongress.kongreTarihi.toString().substring(11,16)}}</div>
  </div>
  

<br>
