<div *ngIf="DataLoadded == false" class="spinner-border text-success" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>


  <div id="carouselExampleControls" *ngIf="DataLoadded == true" class="carousel slide" data-bs-ride="carousel" style="margin-top: 70px;" >
    <div class="carousel-inner" >
      <div *ngFor="let carImage of currentCongress.kongreImages; let i = index"
            class="{{(i == 0) ? 'carousel-item active' : 'carousel-item' }} text-center">
            <img [src]="getImage(carImage)" height="450" alt="..." style="object-fit: cover;">
          </div>
    
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <br>

  <div *ngIf="DataLoadded == true && currentCongress" class="container-fluid">
    <div id="contentCongress">
        <p ><h4 id="congressTitle">{{currentCongress.kongreAdi}}</h4><p>
        <div>
            
            <angular-editor [config]="editorConfig" [ngModel]="currentCongress.kongreHakkinda"></angular-editor>
        </div>
    </div>
    
    <div id="informations">
      <p ><h4 id="congressTitle">Konger Başkanı - {{currentCongress.kongreBaskani}}</h4><p>
     
      <div class="row">
        
          <div class="col-md-4">
            <p ><h4 id="congressTitle">Düzenleme Kurulu</h4><p></p>
            <angular-editor [config]="editorConfig"  [ngModel]="currentCongress.kongreDuzenlemeKurulu"></angular-editor>
          </div>
  
    
         
            <div class="col-md-4">
              <p ><h4 id="congressTitle">Bilim Kurulu</h4><p></p>
              <angular-editor [config]="editorConfig" [ngModel]="currentCongress.bilimKurulu"></angular-editor>
            </div>

            <div class="col-md-4">
              <p ><h4 id="congressTitle">konular</h4><p>
               

                  <angular-editor [config]="editorConfig" aria-label="readonly input example "  [ngModel]="currentCongress.kongreKonusu"></angular-editor>
              
             
            </div>
      </div>

    </div>
   


    <div id="placeAndDate">
      <p><h4 id="congressTitle">Kongre Yeri Ve Zamanı</h4> <p></p>
    <div id="address">{{currentCongress.kongreTarihi.toString().substring(0,10)}}  ||  {{currentCongress.kongreAdresi}}</div>
    </div>
  </div>
  

<br>


